<template>
	<button class="inline-flex justify-center rounded-md px-2 py-1 text-base leading-6 font-medium shadow-sm focus:outline-none bg-white text-black border border-very-light-pink"
					type="button">
		{{ title }}
	</button>
</template>

<script setup>
const props = defineProps({
	title: {
		type: String,
		default: ''
	}
})
</script>

<style lang="scss" scoped>

</style>