<template>
  <div class="p-4 min-w-[50vh] min-h-[50vh] border border-gray-300 rounded-md shadow-md bg-white flex flex-col space-y-8">
		<!-- Buttons to add Item_UI and Item_UI_1 -->
		<div class="flex items-start space-x-4">
			<Btn title="Add OneUI" @click.native="addOneUI" />
			<Btn title="Add TwoUI" @click.native="addTwoUI" />
		</div>

    <div class="flex flex-col flex-1 h-full space-y-8">
      <div class="flex flex-col flex-1 space-y-4">
        <div v-for="item in items"
             :key="item.itemId"
             class="flex items-center">

					<!-- Parent increments the child counter -->
          <span class="flex rounded-md shadow-sm self-end mb-2 items-center space-x-2">
						<Btn title="increment" @click.native="item.increment()" />
          </span>

					<!-- Item list either an Item_UI or Item_UI_1 -->
          <component :is="item.component"
                     :item="item"
                     class="ml-2 p-2 border border-betr-grey-300 rounded-lg flex-1" />

        </div>
      </div>

			<!-- Shows each child counter and a total of ALL counters -->
			<div class="flex items-center space-x-4">
				<p v-for="item in items"
						:key="item.itemId">
						<span class="font-bold">{{ item.component }}</span> {{ item.idx }}-[{{ item.counter }}]
				</p>
			</div>
			<p>Total-[<span class="font-bold">{{ sum }}</span>]</p>
    </div>

  </div>
</template>

<script>
import { ConfigController } from '../logic/ConfigController.js';
import { ITEM_TYPES } from '../logic/ConfigItems/ItemsFactory';

// Components
import Btn from './Btn.vue';
import OneUI from './ConfigUI/OneUI.vue';
import TwoUI from './ConfigUI/TwoUI.vue';

export default {
	name: 'Config',
  components: { OneUI, Btn, TwoUI },
  setup() {
    const controller = new ConfigController();
    return {
			items: controller.items,
			sum: controller.sum,
			addOneUI: () => controller.addItem(),
			addTwoUI: () => controller.addItem(ITEM_TYPES.TWO)
		};
  },
  methods: {}
};
</script>

<style lang="scss" scoped>

</style>
