<template>
  <div class="flex flex-col bg-blue-200 p-2 space-y-2">
    <div class="flex items-center space-x-4">
      <div class="font-bold">{{ item.component }}</div>
      <div>{{ idx }}</div>
      <!-- <div class="flex-1 text-xs text-gray-500">{{ itemId }}</div> -->
    </div>
    <div class="flex items-center space-x-4">
      <div class="font-bold">{{ counter }}</div>
      <Btn title="decrement" @click.native="decrement" />
    </div>
  </div>
</template>

<script setup>
import Btn from '../Btn.vue';

const props = defineProps({
  item: {
    type: Object,
    default: () => {}
  }
});

const { idx, itemId, counter } = props.item;
const decrement = props.item.decrement.bind(props.item);
</script>

<style lang="scss" scoped>

</style>
