<script setup>
import Config from './components/Config.vue';
</script>

<template>
  <div class="flex items-center justify-center h-screen w-screen">
    <Config />
  </div>
</template>

<style scoped>
</style>
